body{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    vertical-align: middle;
    margin-top: 25%;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;    
    font-family: 'Abril Fatface', cursive;
}
.aboutLeft {
    margin-top: 50px;
    margin-bottom: 75px;

}
.aboutRight {
    border: 1px solid black;
    max-height: 611px;
    max-width: 611px;
    padding: 55px;
    margin-right: 110px;
    margin-top: 50px;
    margin-left: 29px;
}
.left-sidebar {
    display: flex;
    justify-content: center;
    padding-right: 75px;
}

.left-sidebar ul li:first-child {
    margin-top: 70px;
    transform: rotate(-270deg);
    /* transform-origin: 41px -20px; */
    display: inline-block;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding-right: 25px;
}
li {
    margin-top: 20px;
}
.skillTitle{
    background-color: #F5F1EB;
    color: #C4AFA1;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 35px;
    font-family: 'Abril Fatface', cursive;
}
#left {
    /* border: 1px solid black; */
    background-color: #F5F1EB;
    height: 50vh;
    /* margin: 10px; */
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: none;
    font-family: 'Montserrat', sans-serif;
}

#right {
    /* border: 1px solid black; */
    background-color: #F5F1EB;
    padding: 40px;
    height: 50vh;
    text-align: center;
    font-size: 16px;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Montserrat', sans-serif;
    /* display: flex; */
}
h5 {
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    /* padding: 25px; */
}

#projectLeft {
    max-width: 95%;
    max-height: 95%;
    padding: 15px;
}
#projectRight {
    max-width: 95%;
    padding: 15px;
}
#bottomLeft {
    max-width:95%;
    padding: 15px;
}
#bottomMiddle {
    max-width: 95%;
    padding: 15px;
}
#bottomRight {
    max-width: 95%;
    padding: 15px;
}
#famyouly {
    background-color: #F5F1EB;
    margin: 0 auto;
    display: block;
    /* margin-top: 15%; */
    text-decoration: none;
    color:black;
}
#noteTaker {
    background-color: #F5F1EB;
    margin: 0 auto;
    display: block;
}
#puppyLove {
    background-color: #F5F1EB;
    margin: 0 auto;
    display: block;
}
#scheduler {
    background-color: #F5F1EB;
    margin: 0 auto;
    display: flex;
    vertical-align: middle;
}
#techblog {
    background-color: #F5F1EB;
    margin: 0 auto;
    display: flex;
    vertical-align: middle;
}

.contactArea {
    background-color: #EAE0D7;
    padding: 40px;
}
#contact {
    font-family: 'Abril Fatface', cursive;
    color: #C4AFA1;
    font-size: 40px;
}
.navTop {
    background-color: #EAE0D7;
    font-family: 'Montserrat', sans-serif;
}
.navBottom {
    font-family: 'Montserrat', sans-serif;
}
.titleName {
    font-family: 'Abril Fatface', cursive;
    color: #C4AFA1;
    font-size: 40px;
}
a {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
i {
    margin-left: 60px;
    margin-right: 5px;
    /* vertical-align: middle; */
}
.navbarBottom {
    margin-top: 10px;
}
